.container{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 20px; 
    width: 100%; 
    position: relative;
    background-color: #148AA1;
    box-sizing: border-box;
}

nav {
    flex: 1; 
    display: flex;
    justify-content: start; 
}

header ul {
    display: flex;
    gap: 20px; 
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}
header ul li{
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
header ul li:hover{
    color: #1CDBFD;
}

.title {
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%); 
    font-size: 1.8rem;
    font-weight: bold;
    color: #1CDBFD;
    text-shadow: 
    3px 3px 5px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.right-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    max-width: 100%;
    overflow-x: hidden;
}
.search-bar{
    position: relative; 
    display: flex;
    align-items: center;
    width: 200px;
    max-width: 100%;
}
.right-header .search-bar i{
    position: absolute;
    right: 5px;
    bottom: 5px; 
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #fff;
}
.search-input {
    width: 100%;
    padding: 10px 15px 10px 10px; 
    border: 2px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 10px;
    background: transparent;
}
.search-input::placeholder{
    color: white;
    font-size: 15px;
}
#icon-header{
    font-size: 20px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    color: white;
}
#icon-header:hover{
    color: #1CDBFD;
}

@media (max-width: 768px){
    .right-header{
        flex-direction: column;
        align-items: flex-end;
    }

    .search-bar{
        width: 100%;
    }
}