@font-face {
  font-family: depixel;
  src: url(/src/Fonts/DePixelBreit.ttf);
}
@font-face {
  font-family: depixel-bold;
  src: url(/src/Fonts/DePixelHalbfett.ttf);
}
@font-face{
  font-family: depixel-big;
  src: url(/src/Fonts/DePixelBreitFett.ttf);
}
@font-face {
  font-family: pixellari;
  src: url(/src/Fonts/Pixellari.ttf);
}
.container{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 20px; 
    width: 100%; 
    position: relative;
    background-color: #148AA1;
    box-sizing: border-box;
}

nav {
    flex: 1; 
    display: flex;
    justify-content: start; 
}

header ul {
    display: flex;
    gap: 20px; 
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul li a {
    text-decoration: none;
}
header ul li{
  font-family: pixellari;
  font-size: 20px;
  color: white;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: 0.3s;
}
header ul li:hover{
    color: #1CDBFD;
}

.title {
  font-family: depixel-bold;
    position: absolute;
    left: 45%;
    bottom: 30%;
    transform: translateX(-50%); 
    font-size: 1.8rem;
    color: #1CDBFD;
    text-shadow: 
    3px 3px 5px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

#right-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    max-width: 100%;
    overflow-x: hidden;
}
.search-bar{
    position: relative; 
    display: flex;
    align-items: center;
    width: 200px;
    max-width: 100%;
}
#right-header .search-bar i{
    position: absolute;
    right: 5px;
    bottom: 5px; 
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #fff;
}
.search-input {
    width: 100%;
    padding: 10px 15px 10px 10px; 
    border: 2px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    background:transparent;
}
/* Desktop version: visible only ≥768px */
.desktop-search {
  display: inline-block;
}

.search-input::placeholder{
    color: white;
    font-size: 15px;
}
.mobile-search{
    display: none; 
  }

.search-toggle{
    color: white;
    width: 22px;
    cursor: pointer;
    position: absolute;
    left: 83%;
  }

.icon{
    width: 30px;
    image-rendering: pixelated;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 20%;
}
.icon:hover{
  filter: drop-shadow(1px 1px 3px #1CDBFD);
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  margin: 10px;
}

.menu-toggle {
  display: none;
  width: 30px;
  cursor: pointer;
}
.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}
.icon-label{
    display: none;
    font-family: pixellari;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;

}

@media (max-width: 768px){
    header {
    flex-wrap: wrap;
  }

  header ul {
    flex-direction: row;
    align-items: flex-start;
  }

  header ul  a li {
    font-size: 1rem;
}
  
  .title { 
    font-size: 1.2rem;
    color: #1CDBFD;
    left: 60%;
    margin-bottom: 5px;
}
  .nav-menu {
  position: absolute;
  top: 60px;
  left: 74%;
  background-color: #148AA1;
  width: 24%;
  gap: 15px;
  padding: 20px;
  z-index: 999;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition:opacity 0.3s ease, transform 0.5s ease;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .nav-menu.open {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  .nav-menu.open .icon-label{
    display: inline;
  }
  .menu-toggle {
    display: block;
    margin-left:auto;
    margin-right: -5px;
    margin-bottom: 3px;
  }
  .icon:hover{
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6)); 
  }
  .icon-label:hover{
    color: #1CDBFD;
  }

  header {
    flex-wrap: wrap;
  }

  header ul{
    flex-direction: row;
    align-items: flex-start;
  }
  .search-bar{
      display: none;
    }

 .desktop-search{
    display: none;
  }

  .search-toggle{
    display: block;
    color: white;
    width: 25px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
    left: 86%;
  }

  .mobile-search {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #148AA1;
    padding: 10px;
    border-radius: 10px;
    z-index: 998;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .mobile-search.open {
    display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .mobile-search input {
    width: 100%;
  }
}